<!-- crop_prices_app/templates/login.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
<body>
    <nav>
        <a href="{% url 'homepage:home' %}">Home</a>
        <a href="{% url 'homepage:blog' %}">Blog</a>
        {% if user.is_authenticated %}
            <a href="{% url 'crop_prices:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'crop_prices:login' %}">Login</a>
        {% endif %}
    </nav>
    <h2>LOGIN</h2>
    <form method="post" action="{% url 'crop_prices:login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'crop_prices:home' %}">Go to Home</a>
</body>
</html>
